<%= form_with model: @article, local: true do |form| %>
<%= render partial: 'devise/shared/error_messages', locals: { resource: @article } %>
<div class="form-group">
  <%= form.label :title, t('forms.article.title') %><br>
  <%= form.text_field :title, class: "form-control" %>
</div>
<div class="form-group">
  <%= form.label :text, t('forms.article.text') %><br>
  <%= form.text_area :text, class: "form-control" %>
</div>
  <%= form.submit t('forms.article.edit.update'), class: "btn btn-info" %>
<% end %>
<% if action_name == "edit" %>
<br/>
<h4 class="card-title"><%= t('forms.article.remove.remove_article') %></h4>
<p><%= button_to t('forms.article.remove.remove_article'), article_path(@article), data: { confirm: t('forms.article.remove.confirm') }, method: :delete, class: "btn btn-danger" %></p>
<%- end %>
