= form_with model: @article, local: true do |form|
  = render partial: 'devise/shared/error_messages', locals: { resource: @article }
  .form-group
    = form.label :title, t('forms.article.title')
    %br/
    = form.text_field :title, class: "form-control"
  .form-group
    = form.label :text, t('forms.article.text')
    %br/
    = form.text_area :text, class: "form-control"
  = form.submit t('forms.article.edit.update'), class: "btn btn-info"
