<section>
  <div class="row">
    <div class="col-12 col-xl-8">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-md-11 col-xl-12">
              <h1 class="card-title">
              <%= @article.title %>
              </h1>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="avatar">
            <%= link_to image_tag("user-circle-solid.svg", height: "40", width: "40") %>
          </div>
          <div class="float-left">
            <a href="#"><%= @article.user.email %></a>
            <br/>
            <span class="article_date"><%= l(@article.created_at, format: "%d %B %Y") %></span>
          </div>
        </div>
        <div class="card-block">
          <div class="card-text">
            <article>
              <%= @article.text %>
            </article>
          </div>
          <%- if user_signed_in? &&  @article.user_id == current_user.id %>
          <br/>
          <%= link_to t('forms.article.edit.update'), edit_article_path(@article) %>
          <%- end %>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h2><%= t('forms.comment.comments') %></h2>
          <%= render @article.comments %>
        </div>
      </div>
      <%- if user_signed_in? %>
      <div class="card">
        <div class="card-block">
          <%= render 'comments/form' %>
        </div>
      </div>
      <%- else %>
      <%= link_to t("forms.comment.please_sign_in_to_comment"), new_user_session_path %>
      <% end %>
    </div>
  </div>
</section>
