%section
  .row
    .col-12.col-xl-8
      .card
        .card-block
          .row
            .col-md-11.col-xl-12
              %h1.card-title
                = @article.title
        .card-block
          .avatar
            = link_to image_tag("user-circle-solid.svg", height: "40", width: "40")
          .float-left
            %a{:href => "#"}= author(@article)
            %br/
            %span.article_date= l(@article.created_at, format: "%d %B %Y")
        .card-block
          .card-text
            %article
              = @article.text
          - if user_signed_in? &&  @article.user == current_user
            %br/
            = link_to t('forms.article.edit.update'), edit_article_path(@article)
      .card
        .card-block
          %h2= t('forms.comment.comments')
          = render @article.comments
      - if user_signed_in?
        .card
          .card-block
            = render 'comments/form'
      - else
        = link_to t("forms.comment.please_sign_in_to_comment"), new_user_session_path
