= render layout: 'shared/card_form', locals: { show_card_footer: false } do
  %h4.card-title= t('devise.registrations.new.sign_up')
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render 'devise/shared/error_messages', object: resource
    .form-group
      = f.label :email
      .w-100
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
    .form-group
      = f.label :password
      - if @minimum_password_length
        %em= t('devise.shared.minimum_password_length', count: @minimum_password_length)
      .w-100
      = f.password_field :password, autocomplete: "new-password", class: "form-control"
    .form-group
      = f.label :password_confirmation
      .w-100
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
    = f.submit t('devise.registrations.new.sign_up'), class: "btn btn-info"
