= render layout: 'shared/card_form', object: resource, locals: { show_card_footer: true } do
  %h4.card-title= t('devise.sessions.new.sign_in')
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = render 'devise/shared/error_messages', object: resource
    .form-group
      = f.label :email
      .w-100
      = f.email_field :email,  autofocus: true, autocomplete: "email", class: "form-control"
    .form-group
      = f.label :password
      .w-100
      = f.password_field :password, autocomplete: "current-password", class: "form-control"
    - if devise_mapping.rememberable?
      .form-check
        = f.check_box :remember_me, class: "form-check-input"
        = f.label :remember_me, class: "form-check-label"
    = f.submit t('devise.sessions.new.sign_in'), class: "btn btn-info"
